<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!--
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/arduinoData.js"></script>
   -->
</head>


<body>
    <div>
        <h1 style="text-align: center;background-color: lightblue">Hello my name is Prof. Day</h1>

    </div>
</body>

</html>